.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: clamp(32px, calc(32px + (32 * ((100vw - 375px) / 1545))), 64px)
    clamp(24px, calc(24px + (336 * ((100vw - 375px) / 1545))), 360px)
    clamp(32px, calc(32px + (91 * ((100vw - 375px) / 1545))), 123px)
    clamp(24px, calc(24px + (336 * ((100vw - 375px) / 1545))), 360px);
}
.MainContainer {
  display: flex;
  justify-content: left;
  width: 100%;
  gap: clamp(32px, calc(32px + (68 * ((100vw - 375px) / 1545))), 100px);
  flex-direction: row;
}
.Left {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 97px;
  width: 100%;
}
.Options a{
    text-decoration: none;
    color: inherit;
}
.Left h3 {
  font-size: 18px;
  color: #2F362A;
  font-weight: 500;
  text-transform: capitalize;
}
.Options {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 40px;
}
.Cafe,
.Shop {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
   background: linear-gradient(
    to bottom,
    #FFFFFF 40%,
    rgba(196, 117, 78, 0.25) 100%
  );

  border: 0.5px solid #8186864D;
  border-radius: 8px; 
  padding: 8px 3px 0px 8px;

  max-width: 230px;
  width: 100%;
  position: relative;
}
.texts {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 2px;
}
.texts h4 {
  font-size:20px;
  color: #C4754E;
  font-weight: 600;
  text-transform: uppercase;

}
.texts p {
  font-size: 12px;
  color: #C4754E;
  white-space: nowrap;
  font-weight: 400;

}

.BeansCard img{
  width: 100%;
  max-width: 100px;
  height: 110px;
  object-fit: cover;
}
.Right {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.RightTop {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 12px;
}
.RightTop h6 {
  font-size: 18px;
  color: #414343;
  font-weight: 500;

}
.BeansCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
   background: linear-gradient(
    to top,
    #F5F5F5 40%,
    rgba(196, 117, 78, 0.25) 80%
  );
  padding: 9px 19px;
}
.some p {
  font-size: 31px;
  color: #C4754E;
  font-weight: 700;
  margin: 0;

}
.some{
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 8px;
}
.some h4{
  font-size: 12px;
  color: #818686;
  margin: 0;
  font-weight: 400;
}
.RightBottom {
  display: flex;
  justify-content: left;
  gap: 12px;
  flex-direction: column;
}
.RightBottom h6 {
  font-size: 18px;
  color: #414343;
  font-weight: 500;

  text-transform: capitalize;
}
.stampCard {
  background: #F5F5F5;
  padding: 27px 33px;
  width: 100%;
  border-radius: 8px;
}

.StampsDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.StampsDetails p {
  font-size: 12px;
  color: #818686;
  font-weight: 400;

}

.Rewards {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #C4754E26;
  padding: 5px 10px;
  border-radius: 8px;
  border: 0.5px solid #C4754E26;
}

.Rewards span {
  font-size: 12px;
  color: #C4754E;
  font-weight: 400;

}

.rewardCircle {
  background: #C4754E;
  color: white;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  font-size: 12px;

  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.StampGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 18px;
  column-gap: 28px;
}
.stampWrapper {
  position: relative;
  width: 84px;
  height: 84px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.unStamp img {
  width: 47px;
  height: 52px;
  position: relative;
  z-index: 2;
}
.texturestamp {
  width: 77px;
  height: 77px;
  opacity: 0.6;
  transition: opacity 160ms ease-in-out;
}

.unStamp {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 1px solid #8186864D;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow0::before,
.shadow1::before,
.shadow2::before,
.shadow3::before,
.shadow4::before {
  content: "";
  position: absolute;
  width: 77px;
  height: 77px;
  background: #8c8c8c59;
  border-radius: 50%;
  /* z-index: 1; */
}

.shadow0::before {
  top: -4px;
  right: -4px;
}

.shadow1::before {
  top: -3px;
  left: -5px;
}

.shadow2::before {
  left: -4px;
  top: -4px;
}

.shadow3::before {
  right: -4px;
  top: -3px;
}

.shadow4::before {
  bottom: -4px;
  left: 2px;
}

.secondRow.shadow0::before {
  top: 4px;
  right: 4px;
}

.secondRow.shadow1::before {
  top: 3px;
  left: 5px;
}

.secondRow.shadow2::before {
  left: 4px;
  top: 4px;
}

.secondRow.shadow3::before {
  right: 4px;
  top: 3px;
}

.secondRow.shadow4::before {
  bottom: 4px;
  left: -2px;
}
@media (min-width:376px) and (max-width: 640px) {
  .main {
    padding: 0px 24px 30px 24px;
  }
  .MainContainer {
    flex-direction: column;
    gap: 32px;
  }
  .Options {
    flex-direction: row;
    gap: 16px;
  }
  .Cafe,
  .Shop {
    max-width: none;
    padding: 9px 11px 20px 11px;
  }
  .Cafeicon , .Shopicon{
    right: 2px;
    top: -35px;
  }
  .Right {
    gap: 32px;
  }
  .Left{
    gap: 60px;
  }
  .texts h4{
    font-size: 14px;
  }
  .Left h3, .RightTop h6, .RightBottom h6{
    font-size: 16px;
  }
  .BeansCard p{
    font-size: 20px;
  }
   .stampCard{
    padding: 18px 13px 24px 13px;
   }
   .StampsDetails{
    margin-bottom: 16px;
   }
   .StampsDetails p{
    font-size: 14px;
   }
   .Rewards{
    gap: 4px;
   }
   .Rewards span{
    font-size: 14px;
   }
   .rewardCircle{
    font-size: 14px;
    width: 23px;
    height: 23px;
   }
   .StampGrid{
    row-gap: 16 px;
    column-gap: 16px;
   }
  
.unStamp {
  width: 50px;
  height: 50px;
 
}

.shadow0::before,
.shadow1::before,
.shadow2::before,
.shadow3::before,
.shadow4::before {
 
  width: 46px;
  height: 46px;
 
}
.unStamp img {
  width: 28px;
  height: 30px;
}
.stampWrapper {
    width: 50px;
    height: 50px;
}
.texturestamp {
  width: 46px;
  height: 46px;
}
}   
@media (max-width: 375px) {
  .main {
    padding: 0px 24px 30px 24px;
  }
  .MainContainer {
    flex-direction: column;
    gap: 32px;
  }
  .Options {
    flex-direction: row;
    gap: 16px;
  }
  .Cafe,
  .Shop {
    max-width: none;
    padding: 9px 11px 20px 11px;
  }
  .Cafeicon , .Shopicon{
    right: 2px;
    top: -35px;
  }
  .Right {
    gap: 32px;
  }
  .Left{
    gap: 60px;
  }
  .texts h4{
    font-size: 14px;
  }
  .Left h3, .RightTop h6, .RightBottom h6{
    font-size: 16px;
  }
  .BeansCard p{
    font-size: 20px;
  }
   .stampCard{
    padding: 18px 13px 24px 13px;
   }
   .StampsDetails{
    margin-bottom: 16px;
   }
   .StampsDetails p{
    font-size: 14px;
   }
   .Rewards{
    gap: 4px;
   }
   .Rewards span{
    font-size: 14px;
   }
   .rewardCircle{
    font-size: 14px;
    width: 23px;
    height: 23px;
   }
   .StampGrid{
     grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 16px;
   }
  
.unStamp {
  width: 50px;
  height: 50px;
 
}

.shadow0::before,
.shadow1::before,
.shadow2::before,
.shadow3::before,
.shadow4::before {
 
  width: 46px;
  height: 46px;
 
}
.unStamp img {
  width: 28px;
  height: 30px;
}
.stampWrapper {
    width: 50px;
    height: 50px;
}
.texturestamp {
  width: 46px;
  height: 46px;
}
}
@media (min-width: 641px) and (max-width: 1200px) {
   .main{
    padding: 40px 50px 30px 50px;
   }
   .MainContainer{
   flex-direction: column;
   }
  }
  @media (min-width: 1201px) and (max-width: 1440px) {
    .main{
      padding: 40px 100px 30px 100px;
     }
     .MainContainer{
     flex-direction: column;
     }
    }
    @media (min-width: 1441px) and (max-width: 1740px) {
      .main{
        padding: 40px 100px 30px 100px;
       }
    
      }